@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-dots li button:before {
  color: #fff; /* Default dot color */
  font-size: 12px; /* Adjust dot size */
}
.slick-dots li.slick-active button:before {
  color: blue; /* Active dot color */
}
